html{
  font-family: Helvetica, Arial, sans-serif;
}

body{
  margin: 0;
  padding-block: min(5vh, 5rem);
  padding-inline: 2em;
}

.container {
  max-width: 980px;
  margin-inline: auto
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1080px;
  }
}

.gifs-grid {
  display: grid;
  gap: 1rem;
}

.grid-columns {
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr))
}

img {
  max-width: 100%;
}